streamlit
openai
python-dotenv
whisper
elevenlabs
faiss-cpu
pandas
numpy
requests
torch
transformers
sentence-transformers
tiktoken
euriai
langchain
langchain_community
fitz
frontend
tools
deep_translator
sounddevice
watchdog


